.wrapper1
{
    font: 14px Helvetica, Verdana, Arial, sans-serif;
    margin: 0;    
    text-align:left;
    margin-left:10px;
  }
.wrapper1 a
{
    margin: 0px;
    text-decoration: none;
}
.wrapper1 a:hover
{
   
}
.wrapper1 p
{
    padding: 0;
   
}
.wrapper
{
    text-align:left;
}
.nav
{
    float: left;
}
.nev-wrapper
{
    clear: both;
    float: left;
}
.nav-left
{
    float: left;
    width:0px;
}
.nav-right
{
    float: left;
    width:0px;
}
.nav ul
{
  
    float: left;
    margin: 0;
    list-style: none;
    padding-left:5px;
}
.nav li
{
    float: left;
    padding: 0 1px;
    position: relative;
    z-index:1;
   
}
.nav li.last
{
    background: none;
}
.nav li:hover
{
   z-index:2;
}
.nav li a
{
    display: block;
    overflow:hidden;
    float: left;
    cursor: pointer;
    margin-left:5px;
}
a .menu-left
{
    width: 11px;
    height: 37px;
    display: block;
    float: left;
   /* background:url(../Images/LeftNav.jpg) no-repeat bottom;*/
}
a .menu-mid
{ 
    
    padding-top:7px;
    height:30px;
    display: block;
    float: left;
    color:#4a4848;
    /* background:url(../Images/NavBg.jpg) repeat-x bottom;*/
    padding-left:3px;
    padding-right:3px; font-weight: bold; }

a .menu-right
{
    width: 11px;
    height: 37px;
    display: block;
    float: left;
    /*background:url(../Images/RightNav.jpg) no-repeat bottom;*/
}
.nav li a:hover .menu-left, 
.nav li.active a .menu-left, 
.nav li:hover a .menu-left
{
    background: url(../Images/LeftNav.jpg) no-repeat bottom left;
    width:11px;
    display: block;
    float: left;
    height: 37px;
}
.nav li a:hover .menu-mid, .nav li.active a .menu-mid, .nav li:hover a .menu-mid
{
    background: url(../Images/NavBg.jpg) repeat-x;
    display: block;
    float: left;        
    color:#620000; 
   
}
.nav li a:hover .menu-right, .nav li.active a .menu-right, .nav li:hover a .menu-right
{
    background: url(../Images/RightNav.jpg) no-repeat bottom right;
    width: 11px;
    display: block;
    float: left;
    height: 37px;
}
.nav li a:hover, .nav li.active a, .nav li.hover a, .nav li:hover a
{
    color:#620e04;
    background: url(../Images/MenunavigationImages.html) top  !important;
    background-position:0px -99px;
}



